---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

:root {
  --digit-main-first: #000000;
  --digit-main-second: #0033CC;
  --digit-main-third: #0066FF;

  --digit-accent-red: #712233;
  --digit-accent-red-light: #B18487;

  --digit-accent-blue: #009FC3;
  --digit-accent-blue-light: #A1CEE2;

  --digit-accent-orange: #F28E39;
  --digit-accent-orange-light: #FBC89E;

  --digit-accent-grey: #9D9D9C;
  
  --primary-color: var(--digit-main-second);
  --secondary-color: var(--digit-main-first);
}

/* Navbar Title Color*/
#site-nav > .site-title {
  color: var(--primary-color);
}

/* Navbar Subtitle Color*/
#site-nav .site-subtitle {
  color: var(--secondary-color);
}

/* Title Color for each Page */
h1,
#page-title > a {
  color: var(--primary-color);
}

/* smaller Title Color for each page - ## in MD */
h2 {
  color: var(--secondary-color);
}
